@model IEnumerable<Dierentuin.Models.Enclosure>

@{
    ViewData["Title"] = "Enclosures";
}

<h1>Enclosures</h1>

<p>
    <a asp-action="Create" class="btn-create">Create New</a>
</p>
<div class="enclosure-card-container">
    @foreach (var item in Model)
    {
        <div class="enclosure-card">
            <div class="enclosure-card-header">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="enclosure-card-body">
                <p><span>Climate:</span> @Html.DisplayFor(modelItem => item.Climate)</p>
                <p><span>Habitat:</span> @Html.DisplayFor(modelItem => item.Habitat)</p>
                <p><span>Security:</span> @Html.DisplayFor(modelItem => item.Security)</p>
                <p><span>Size:</span> @Html.DisplayFor(modelItem => item.Size)</p>
            </div>
            <div class="enclosure-card-footer">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
