@model Dierentuin.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Category != null)
            {
                @Html.DisplayFor(model => model.Category.Name)
            }
            else
            {
                <text>None</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Enclosure != null)
            {
                @Html.DisplayFor(model => model.Enclosure.Name)
            }
            else
            {
                <text>None</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Space)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Security)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Security)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
